*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.balloon{
    background-color: pink;
    width: 100px;
    height: 100px;
   padding: 40px;
   border-radius: 7px;
   margin-top: 50px;
   font-size: 30px;
}
.balloon:hover{
    box-shadow: 4px 8px 9px 3px rgb(70, 69, 69);
}